.container .bid {
    width: 100%;
    max-width: 300px;
    @media only screen and (max-width: 400px) {
        width: 100%;
    }
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    //  padding-right: 150px;
    .ant-form-item-control-input-content {
        display: flex;
        justify-content: space-evenly;
    }
    .auctionBlock {
        width: 80%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .control-hooks {
        max-width: 200px;
    }
    .ant-row.ant-form-item {
        .ant-col-offset-8 {
            @media only screen and (max-width: 400px) {
                margin-left: 0;
            }
        }
    }
}
